:root{
    --text-color: #434455;
    --white-background: #FFFFFF;
    --dark-color: #2E2F42;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --light-color: #F4F4FD;
    --accent-color: #E7E9FC;
    --light-slate: #8E8F99;
    --dairy: #FCFCFC;
    --green: #31D0AA;
}
body{
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-background);
}
button{
    cursor: pointer;
}
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
     padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
img{
    display: block;
}

a{
    text-decoration: none;
}
.link{
    text-decoration: none;
}

.list{
    list-style: none;
}
.container{
min-width: 320px;
max-width: 428px;
padding: 0 16px;
margin: 0 auto;

outline: 2px solid red;
outline-offset: -2px;
}

/* tablet screen */

@media screen and (min-width: 768px) {
    .container{
    max-width: 768px;
    }
}

/* desctop screen */

@media screen and (min-width: 1200px) {
    .container{
    max-width: 1158px;
    padding: 0 15px;
  }
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*  header  */

.header{
   border-bottom: 1px solid var(--accent-color);
   box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.head{
    display: flex;
    align-items: center;}
   
.header-nav{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
    gap: 40px;
}

.header-item{
    display: flex;
    position: relative;
    color: var(--pressed-state);
    
}
.nav-list{
    /* position: relative; */

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.nav-list.active{
    color: var(--pressed-state);
}

.nav-list.active::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state);
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
   
}
.nav-list:hover,
.nav-list:focus{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--pressed-state);
}

.address{
    display: flex;
    align-items: center;
    font-style: normal;
    margin-left: auto;
}

.address-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;

}

.address-link{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color)
}
.address-link:hover,
.address-link:focus{
    color: var(--pressed-state);
    /* text-decoration: underline; */
}
.nav-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    margin-right: 76px;
}
.accent{
    color: var(--dark-color);
}
.accent-footer{
    color: var(--light-color);
}

/* main */
.main {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/hero-img1.jpg);
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--dark-color);
    padding: 188px 0;
}
.main-contentl{
   
    margin: 0 auto;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
    color: var(--white-background)

}
.order-button{
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    background-color: var(--primary-brand);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus{
    background-color: var(--pressed-state);
}


/* section featur */

.section-featur{
   padding: 96px 0;
   
}

@media only screen and (min-width: 1200px) {
.section-featur{
    padding: 120px 0;
  }
}


.featur-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
 }

.featur-item{
    width: calc((100% - 24px * 3) / 4);
}

.featur-icons{
    display: flex;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--light-color);
    margin-bottom: 8px;
    align-items: center;
    justify-content: center ;
}

.icon{
    margin: 0 auto;
}

.featur-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.featur-body{
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text-color);
   max-width: 264px;   
}

/**
  |============================
  | секція 3 наша команда
  |============================
*/
.our-deal-section{
    padding-bottom: 120px;
}

.section-name{
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--dark-color);
   margin-bottom: 72px; 
}

.what{
   padding-top: 0 0;
   margin-bottom: 120px;
}

.our-deal{
    display: flex;
    gap: 24px;
}

.our-deal-item{
    width: calc((100% - 24px * 2)) / 3;
}

.our-team{
    background-color: var(--light-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.social-list{
    display: flex;
    gap: 24px;
    justify-content: center; 
   
}

.social-items{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-brand);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus{
    background-color: var(--pressed-state);
}

.social-icons{
    fill: var(--light-color);
  }


.team-mates{
    text-align: center;
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: var(--dark-color);
  margin-bottom: 8px;   
}

.prof{
    text-align: center;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text-color);
   margin-bottom: 8px; 
}

.team-cards{
    width: calc((100% - 72px) / 4);
    background-color: var(--white-background);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
    Show 1 more color Ellipse Component instance Ellipse Component instance Ellipse Component instance img Image · 264 x 260
    
}

.mates{
    padding: 32px 0px;
}

/**
  |============================
  | секція  customers
  |============================
*/
.customers{
    padding: 120px 0;
}

.clients-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 168px;
    height: 88px;
  }

.clients-icon{
    fill: currentColor;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-slate);
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus{
    border-color: var(--pressed-state);
    color: var(--pressed-state);
}


.icons-foot {
    fill: var(--light-color);
}

.page-footer {
    background-color: var(--dark-color);
    padding: 100px 0;
}
.footer-wrap {
    display: flex;
    /* gap: 120px; */
    align-items: baseline;
}
.logo-text {
    margin-right: 120px;
}

.footer{
    display: inline-block;
    margin-right: 0;
    margin-bottom: 16px;
}

.footer-text{
    max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color)
  
}

.social-list-foot{
display: flex;
gap: 16px;
}
.social-text{
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--white-background);
    margin-bottom: 16px;
}

.social-links.foot:hover,
.social-links.foot:focus{
    background-color: var(--green);

}

.subscribe-box {
    margin-left: 80px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.subscribe-form-label {}

.subscribe-form-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    /* margin-right: 24px; */

    border-radius: 4px;
    border: 1px solid var(--white-background);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
    background-color: transparent;
    outline: transparent;

    font-family: Roboto;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.48px;
    color: var(--white-background);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-input::placeholder{
    color: currentColor;
}
.subscribe-form-input:hover,
.subscribe-form-input:focus{
    border-color: var(--primary-brand);
}

.subscribe-form-btn {
   
    min-width: 165px;
    height: 40px;

    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 4px;
    background: var(--primary-brand);

    color: var(--white-background);
    text-align: center;
    
    /* Button Text */
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.subscribe-form-icon {
    margin-left: 16px;
}

/**
  |============================
  | сторінка portfolio
  |============================
*/

.section-portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }

.portfolio-link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box{
    position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;
   }


.box:hover .overlay-text{
    transform: translateY(0);
}

.overlay-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--light-color);
}

.portfolio-item{
    width: calc((100% - 48px) / 3);
}

.portfolio-card{
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

.portfolio-list-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.portfolio-list-app{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.button-filtr {
    background-color: var(--light-color);
    color: var(--primary-brand);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    /*  Set transition values  */
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-filtr:hover,
.button-filtr:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.button-list{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
   }

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
   }

   /**
     |============================
     | modal
     |============================
   */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   
.backdrop.is-hidden{
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   }

.modal {
    /* display: flex; */
    position: absolute;

    transform: translateX(-50%) translateY(-50%);

    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
   top: 50%;
   left: 50%;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn{
    position: absolute;
    padding: 0;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--accent-color);
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus{
    background-color: var(--pressed-state);
    border: none;
    fill: #FFFFFF;
}


.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.modal-caption {
    display: block;
    width: 360px;
    text-align: center;
    margin-bottom: 16px;

    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--dark-color);
}

.modal-form {}

.modal-form-box{
    position: relative;
    margin-bottom: 8px;
}

.modal-form-field {
    display: block;
    /* margin-bottom: 8px; */
    position: relative;

    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.17;
     letter-spacing: 0.04em;
     color: var(--light-slate);
}

.box-svg{
    position: relative;

}



.modal-form-label {
    
}

.modal-form-input {
    width: 100%;
    height: 40px;

    padding-left: 38px;
    border-radius: 4px;

    font-size: 18px;

    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus{
border-color: var(--primary-brand);
}

.modal-form-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon:focus{
    fill: var(--primary-brand);
}

.modal-form-area{
    width: 100%;
    height: 120px;

    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* border: 1px solid rgba(46, 47, 66, 0.4) */
}

.user-comment-box{
    margin-bottom: 16px;
}

.agreement-box{
    margin-bottom: 24px;
}


.modal-form-input:focus +.modal-form-icon{
    fill: var(--primary-brand);
}

.label-checkbox{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    user-select: none;
}

.user-checkbox{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   fill: transparent;

    margin-right: 8px;

    width: 16px;
    height: 16px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.agreement-box-checkbox:checked + .label-checkbox > .user-checkbox{
    background-color: var(--pressed-state);
    border: none;
    fill: var(--light-color)
}

.agreement-box-link{
    color: var(--primary-brand);
    text-decoration: underline;
}

.modal-button{
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
    /* gap: 10px; */
    min-width: 169px;
    height: 56px;
    flex-shrink: 0;

    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    text-align: center;

    cursor: pointer;

    border: none;
   border-radius: 4px;
   background: var(--primary-brand);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
} 

.modal-button:hover,
.modal-button:focus{
    background-color: var(--pressed-state);
}

.modal-form-area{
    width: 100%;
    height: 120px;
    padding: 8px 16px;
   
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: rgba(46, 47, 66, 0.4);

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    flex-shrink: 0;

    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-area::placeholder{
    color: currentColor;
}

.modal-form-area:focus {
    border-color: var(--primary-brand);
}

/* agreement block */

.modal-form-agreement {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 24px;

}

.modal-form-checkbox {
  
}

.modal-form-custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox{
    border: var(--pressed-state);
    background-color: var(--pressed-state);
}

.modal-form-checkbox-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox > .modal-form-checkbox-icon{
    opacity: 1;
}
.modal-form-agreement-desc {
    color: var(--light-slate);
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.48px;
    user-select: none;
}

.modal-form-link {
text-decoration: underline;
}