:root{
    --text-color: #434455;
    --white-background: #FFFFFF;
    --dark-color: #2E2F42;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --light-color: #F4F4FD;
    --accent-color: #E7E9FC;
    --light-slate: #8E8F99;
    --dairy: #FCFCFC;
    --green: #31D0AA;
}
body{
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-background);
}
button{
    cursor: pointer;
}
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
     padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}
.link{
    text-decoration: none;
}

.list{
    list-style: none;
}
.container{
min-width: 320px;
max-width: 428px;
padding: 0 16px;
margin: 0 auto;

/* outline: 2px solid red;
outline-offset: -2px; */
}

/* tablet screen */

@media screen and (min-width: 768px) {
    .container{
    max-width: 768px;
    }
}

/* desctop screen */

@media screen and (min-width: 1157.98px) {
    .container{
    max-width: 1158px;
    padding: 0 15px;
  }
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*  header  */

.header{
   border-bottom: 1px solid var(--accent-color);
   box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767.98px) {
.header{
    padding-top: 24px;
    padding-bottom: 22px;
      }
}
.head{
    display: flex;
    align-items: center;}
    
 @media only screen and (max-width: 767.98px) {
    .head  {
        justify-content: space-between;
      }
    }  
.header-nav{
    display: flex;
    align-items: center;
}


.nav-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    margin-right: 120px;
}

@media only screen and (min-width: 1158px) {
.nav-logo {
    margin-right: 76px;
  }
}
.accent{
    color: var(--dark-color);
}
.accent-footer{
    color: var(--light-color);
}

.header-list{
    display: flex;
    gap: 40px;
}

@media only screen and (max-width: 767.98px) {
.header-list {
    display: none;
  }
 }

.header-item{
    display: flex;
    position: relative;
    /* color: var(--pressed-state); */
    
}

.nav-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: var(--dark-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-list.active{
    color: var(--pressed-state);
}

.nav-list.active::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state);
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
   
}
.nav-list:hover,
.nav-list:focus{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--pressed-state);
}

.address{
    display: flex;
    align-items: center;
    font-style: normal;
    margin-left: auto;
}

@media only screen and (max-width: 767.98px) {
.address {
        display: none;
    }
}

.address-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    }

@media only screen and (min-width: 1158px) {
.address-list {
    flex-direction: row;
   justify-content: flex-end;
    gap: 40px; 
  }
}

.address-link{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--dark-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

@media only screen and (min-width: 1158px) {
.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
}

.address-link:hover,
.address-link:focus{
    color: var(--pressed-state);
   }

.menu-toggle{
    padding: 0;
    background-color: transparent;
    border: 1px solid transparent;
}

@media only screen and (min-width: 768px) {
.menu-toggle {
    display: none;
  }
}
.menu-toggle-icon{
    stroke: var(--dark-color);
}


/* main */

.main {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/hero/heromob@1x.jpg);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--dark-color);
    padding: 112px 0;
}

/* retina screen */

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../images/hero/heromob@2x.jpg);
    }
}


@media only screen and (min-width: 768px) {
.main {background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url(../images/hero/herotab@1x.jpg);
          }
         

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/hero/herotab@2x.jpg);
          }
      }
 }  
 
 

@media only screen and (min-width: 1158px) {
.main {background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url(../images/hero/heronout@1x.jpg);
      }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
       .main {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/hero/heronout@2x.jpg);
    }
}
}

@media only screen and (min-width: 1158px) {
.main {
    padding: 188px 0;
    max-width: 1440px;
  }
}


.main-title{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin: 0 auto;
  margin-bottom: 72px;
  text-transform: capitalize;
  max-width: 320px;
  color: var(--white-background)
}

@media only screen and (min-width: 767px) {
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
    max-width: 496px;
  }
}
@media only screen and (min-width: 1158px) {
.main-title {
    margin-bottom: 48px;
  }
}

.order-button{
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    background-color: var(--primary-brand);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus{
    background-color: var(--pressed-state);
}


/* section featur */

.section-featur{
   padding: 96px 0;
   
}

@media only screen and (min-width: 1158px) {
.section-featur{
    padding: 120px 0;
  }
}
@media only screen and (max-width: 767.98px) {
  .featur-item:not(:last-child) {
     padding-bottom: 72px;
  }
}


@media only screen and (max-width: 1157.98px) {
.featur-icons {
        display: none;
    }
    .featur-list-icons{display: none;}
}



@media only screen and (max-width: 1157.98px) {
 .featur-name{
   text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 111.11;
  text-transform: capitalize;
  color: var(--dark-color);
    }
}

.featur-name{
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
 .featur-list  {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;}

  .featur-item {
      /* display: flex; */
      width: calc((100% - 24px) / 2);
  }
  .featur-name{
    display: inline-flex;
    margin-bottom: 8px;
  }
}


@media only screen and (max-width: 1157.98px) {
  .featur-name {
    /* font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; */
  }
}


.featur-body{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
   color: var(--text-color);
   /* max-width: 264px;    */
}
@media only screen and (min-width: 1158px){
.featur-body{
    font-weight: 400;
}
}

@media only screen and (min-width: 1158px) {
   .featur-list{
    display: flex; 
    flex-wrap: wrap;
    gap: 24px;
 }
   .featur-item{
    width: calc((100% - 24px * 3) / 4);
}
    .featur-icons{
    display: flex;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--light-color);
    margin-bottom: 8px;
    align-items: center;
    justify-content: center ;
}
    .icon{
    margin: 0 auto;
}
}


/**
  |============================
  | секція 3 our deal
  |============================
*/


@media only screen and (max-width: 1157.98px) {
   .our-deal-section{display: none;}
}

@media only screen and (min-width: 1200px) {
   .our-deal-section{
    padding-bottom: 120px;
}
  }

.section-name{
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--dark-color);
   margin-bottom: 72px; 
}


.our-deal{
    display: flex;
    gap: 24px;
}

.our-deal-item{
    width: calc((100% - 24px * 2)) / 3;
}



/* section 4 our team */

.our-team{
    background-color: var(--light-color);
    padding-top: 96px;
    padding-bottom: 96px;

}

@media only screen and (min-width: 1158px) {
.our-team{padding-top: 120px;
    padding-bottom: 120px; 
      }
}
@media only screen and (max-width: 767.98px) {
.team-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
     }


.team-cards{
    max-width: 264px;
    
    background-color: var(--white-background);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-cards:not(:last-child){
    margin-bottom: 72px;
}


.team-cards-img {
    margin: 0 auto;
    max-width: 100%;
}
}


@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
.team-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    padding-left: 76px;
    padding-right: 76px;
  }

.team-cards {
      max-width: 264px;
      width: calc((100% - 24px) / 2);
      column-gap: 24px;
      row-gap: 64px;
      
      background-color: var(--white-background);
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

      Show 1 more color Ellipse Component instance Ellipse Component instance Ellipse Component instance img Image · 264 x 260
  }
}

@media only screen and (min-width: 1158px) {
   .team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .team-cards{
    display: flex;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
    background-color: var(--white-background);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
    Show 1 more color Ellipse Component instance Ellipse Component instance Ellipse Component instance img Image · 264 x 260
    
}

}

.social-list{
    display: flex;
    gap: 24px;
    justify-content: center; 
   
}

.social-items{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-brand);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus{
    background-color: var(--pressed-state);
}

.social-icons{
    fill: var(--light-color);
  }

.team-mates{
    text-align: center;
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: var(--dark-color);
  margin-bottom: 8px;   
}

.prof{
    text-align: center;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text-color);
   margin-bottom: 8px; 
}

.mates{
    padding: 32px 0px;
}

/**
  |============================
  | секція  customers
  |============================
*/

@media only screen and (max-width: 1157.98px) {
.customers{
    padding: 96px 0;
  }
}
@media only screen and (min-width: 1158px) {
  
   .customers{
   padding: 120px 0;          
  } 
}

.clients-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
  }


@media only screen and (min-width: 768px) and (max-width: 1157.98px)  {
.clients-list{
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
.clients-list {
    gap: 24px;
  }
}
.clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 190px;
    height: 88px;
  }

@media only screen and (min-width: 768px) {
.clients-item{
    width: 168px;
  }
}

.clients-icon{
    fill: currentColor;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-slate);
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus{
    border-color: var(--pressed-state);
    color: var(--pressed-state);
}

/* footer */


.icons-foot {
    fill: var(--light-color);
}

.page-footer {
    background-color: var(--dark-color);
   padding: 96px 0;
   }

@media only screen and (min-width: 1158px) {
.page-footer{
    padding: 100px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer-wrap {
    display: flex; 
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }
 
}
 
@media only screen and (min-width: 1158px) {
.footer-wrap{
    display: flex;
    align-items: baseline;
  }
  
}
   
@media only screen and (max-width: 767.98px) {
.logo-text{
    
     margin-bottom: 72px;
  }
}

.footer{
    display: flex;
    margin-right: 0;
    margin-bottom: 16px;
 }

@media only screen and (max-width: 767.98px) {
.footer {
     justify-content: center;
  }
}


.footer-text{
    margin: 0 auto;
    max-width: 268px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color)
  
}

.social-box{
   display: flex;
   flex-direction: column;
   }


@media only screen and (max-width: 767.98px) {
.social-box {
    align-items: center; 
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 1157.98px) and (max-width: 767.98px) {
.social-box{
    margin-right: 100px;
    margin-bottom: 0;
  }
 .footer-text{
    max-width: 264px;
 }
}

.social-list-foot{
display: flex;
gap: 16px;
}

.social-text{
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--white-background);
    margin-bottom: 16px;
}

.social-links.foot:hover,
.social-links.foot:focus{
    background-color: var(--green);

}
@media only screen and (max-width: 767.98px) {
   .subscribe-box{
    text-align: center;
  }
}
 
 @media only screen and (min-width: 1158px) {
  .subscribe-box  {
     margin-left: 80px;
   }
   .logo-text{
    margin-right: 120px;
   }
 }   

.subscribe-form{
     display: flex;
     gap: 24px;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 767.98px) {
   .subscribe-form{
    flex-direction: column;
    
    gap: 16px;
}
  }


.subscribe-form-label {
    width: 100%;
}

.subscribe-form-input {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    /* margin-right: 24px; */

    border-radius: 4px;
    border: 1px solid var(--white-background);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
    background-color: transparent;
    outline: transparent;

    font-family: Roboto;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.48px;
    color: var(--white-background);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 767.98px) {
.subscribe-form{
    display: flex;
}
    .subscribe-form-label{
    width: 264px;
    
  }
}

.subscribe-form-input::placeholder{
    color: currentColor;
}

.subscribe-form-input:hover,
.subscribe-form-input:focus{
    border-color: var(--primary-brand);
}

.subscribe-form-btn {
   
    min-width: 165px;
    height: 40px;

    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 4px;
    background: var(--primary-brand);

    color: var(--white-background);
    text-align: center;
    
    /* Button Text */
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.subscribe-form-icon {
    margin-left: 16px;
}

/**
  |============================
  | сторінка portfolio
  |============================
*/

.section-portfolio{
    padding-top: 48px;
    padding-bottom: 48px;
}

@media only screen and (min-width: 767.98px) {
.section-portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

@media only screen and (min-width: 1158px) {
.section-portfolio{
    padding-top: 100px;
    padding-bottom: 72px;
  }
}

.button-list{
    display: flex;
   
    column-gap: 24px;
    row-gap: 16px;
    justify-content: center;
    margin-bottom: 48px;
   
    /* 
    gap: 24px; */
   }
@media only screen and (max-width: 767.98px) {
.button-list{
     flex-wrap: wrap;
     max-width: 270px;
  }
}
@media only screen and (min-width: 768px) {
.button-list{
       margin-bottom: 64px;
      }
}
@media only screen and (min-width: 1158px) {
.button-list {
    margin-bottom: 72px;
  }
}

.button-filtr {
    background-color: var(--light-color);
    color: var(--primary-brand);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    /*  Set transition values  */
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media only screen and (min-width: 768px) {
.button-filtr {
    padding: 12px 24px;
  }
}

.button-filtr:hover,
.button-filtr:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-list{
    display: flex;
    align-items: center;
    gap: 48px;

  }
@media only screen and (max-width: 767.98px) {
.portfolio-list {
     max-width: 396px;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
.portfolio-list {
    flex-wrap: wrap;
    /* width: 396px; */
    column-gap: 24px;
    row-gap: 72px;
  }
}


@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2)
  }
}
@media only screen and (min-width: 1158px) {
.portfolio-item {
    width: calc((100% - 48px) / 3)
  }
}

.portfolio-link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box{
    position: relative;
    max-width: 360px;
    max-height: 300px;
    overflow: hidden;
   }


.box:hover .overlay-text{
    transform: translateY(0);
}

.overlay-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--light-color);
}
/* .portfolio-img{
    width: 100%;
} */

.portfolio-card{
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

.portfolio-list-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.portfolio-list-app{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* .portfolio-list{
    display: flex;
    flex-wrap: wrap;
   } */

   /**
     |============================
     | modal
     |============================
   */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   
.backdrop.is-hidden{
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   }

.modal {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);

    padding: 72px 24px 24px 24px;
    width: 95%;
    max-width: 392px;
    height: 95%;
    max-height: 584px;
   
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
   top: 50%;
   left: 50%;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 767.98px) {
.modal {
     overflow: scroll;
  }
}



.modal-btn{
    position: absolute;
    padding: 0;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--accent-color);
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus{
    background-color: var(--pressed-state);
    border: none;
    fill: #FFFFFF;
}


.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.modal-caption {
    display: block;
    /* width: 360px; */
    text-align: center;
    margin-bottom: 16px;

    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--dark-color);
}

.modal-form {}

.modal-form-box{
    position: relative;
    margin-bottom: 8px;
}

.modal-form-field {
    display: block;
    position: relative;

    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.17;
     letter-spacing: 0.04em;
     color: var(--light-slate);
}

.box-svg{
    position: relative;

}

.modal-form-input {
    width: 100%;
    height: 40px;

    padding-left: 38px;
    border-radius: 4px;

    font-size: 18px;

    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus{
border-color: var(--primary-brand);
}

.modal-form-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon:focus{
    fill: var(--primary-brand);
}

.modal-form-area{
    width: 100%;
    height: 120px;

    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* border: 1px solid rgba(46, 47, 66, 0.4) */
}

.user-comment-box{
    margin-bottom: 16px;
}

.agreement-box{
    margin-bottom: 24px;
}


.modal-form-input:focus +.modal-form-icon{
    fill: var(--primary-brand);
}

.label-checkbox{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    user-select: none;
}

.user-checkbox{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   fill: transparent;

    margin-right: 8px;

    width: 16px;
    height: 16px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.agreement-box-checkbox:checked + .label-checkbox > .user-checkbox{
    background-color: var(--pressed-state);
    border: none;
    fill: var(--light-color)
}

.agreement-box-link{
    color: var(--primary-brand);
    text-decoration: underline;
}

.modal-button{
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
    /* gap: 10px; */
    min-width: 169px;
    height: 56px;
    flex-shrink: 0;

    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    text-align: center;

    cursor: pointer;

    border: none;
   border-radius: 4px;
   background: var(--primary-brand);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
} 

.modal-button:hover,
.modal-button:focus{
    background-color: var(--pressed-state);
}

.modal-form-area{
    width: 100%;
    height: 120px;
    padding: 8px 16px;
   
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: rgba(46, 47, 66, 0.4);

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    flex-shrink: 0;

    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-area::placeholder{
    color: currentColor;
}

.modal-form-area:focus {
    border-color: var(--primary-brand);
}

/* agreement block */

.modal-form-agreement {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 24px;

}



.modal-form-custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox{
    border: var(--pressed-state);
    background-color: var(--pressed-state);
}

.modal-form-checkbox-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox > .modal-form-checkbox-icon{
    opacity: 1;
}
.modal-form-agreement-desc {
    color: var(--light-slate);
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.48px;
    user-select: none;
}

.modal-form-link {
text-decoration: underline;
}

/**
  |============================
  | mobile menu
  |============================
*/
.menu-toggle {
    /* min-height: 40px;
    min-width: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    background-color: var(--white-background);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin-bottom: auto;
    list-style: none;
}

.mobile-menu-link {
    display: block;
    color: var(--dark-color);
    text-decoration: none;
    font-size: 36px;
     font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu-link:active,
.mobile-menu-link:focus{
color: var(--pressed-state);
}


.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link:not(:last-child) {
    margin-bottom: 40px;
} 
.mobile{
    background-color: var(--white-background);
}

.active-item{
    color: var(--primary-brand);
}


.mobile-address-list{
    margin-bottom: 48px;
}
.mobile-address-link{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-link:focus,
.mobile-address-link:active{
color: var(--pressed-state);
border: transparent;
}


.mobile-address-item:not(:last-child) {
    margin-bottom: 40px;
}

.tel{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

@media only screen and (max-width: 427.98px) {
.tel{
    font-size: 24px;
  }
}

.social-list-mobile{
    display: flex;
    gap: 56px;
}

@media only screen and (max-width: 405px) {
.social-list-mobile {
    gap: 30px;
  }
}